@mixin header-title {
    width: 100%;
    height: 4rem;
    background-color: $background-title;
}

@mixin title-Shrikhand {
    font-family: 'Shrikhand', cursif;
    font-size: 1.9rem;
    padding-top: 12px;
    display: flex;
    justify-content: center;
}

@mixin family-Roboto {
    font-family: 'Roboto', sans-serif;
}

