$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-fond: #F6F6F6;
$background-title: #ffff;
$background-footer: #353535;
$background-btn: #f5edff;

$family-title: 'Shrikhand', cursif;
$family-text: 'Roboto', sans-serif;

$breakpoints: (
    tablet: 700px
    
);
$breakpointspc: (
    pcportable: 1024px
);


